body{
    background: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    background: #1e293b;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h1{
    color: #38bdf8;
}

input{
    width: 80%;
    max-width: 400px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

button{
    padding: 12px 18px;
    margin: 6px;
    border: none;
    border-radius: 8px;
    background: #38bdf8;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.05);
}

#output{
    margin-top: 20px;
    font-size: 18px;
    background: #334155;
    padding: 15px;
    border-radius: 10px;
}

#history{
    margin-top: 20px;
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
}
@media (max-width: 600px){

    .container{
        width: 95%;
    }

    input{
        width: 90%;
    }

    button{
        width: 90%;
        margin: 8px 0;
    }

}
.light-mode{
    background:#ffffff;
    color:#000000;
}

.light-mode input{
    background:#f0f0f0;
    color:#000000;
}

.light-mode button{
    background:#dddddd;
    color:#000000;
}